.App {
  text-align: center;
  overflow-x: hidden;
}

.App nav{
  padding: 20px 120px;margin-bottom: 40px;
  background: #000;

}

.App nav a {
  display: flex;
  align-items: flex-start;
  color: #fff;
  font-weight: 600;
  text-decoration: none;
  font-size: 20px;
 
}

.App table td a{
  text-decoration: none !important;
}

.App .card{
  border-radius: 0 !important;
}

.App a.btn{
  border-radius: 0 !important;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.btn{
  margin: 2px;;
}
.divbtn{
  float: left;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
